.review-card:hover {
  transition: 0.3s;
  background-color: #01a3a4;
  color: white;
}
.review-card-active {
  background-color: #01a3a4;
  color: white;
}
.review-message {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
