.skeleton-round {
  width: 70px;
  height: 50px;
  background-color: rgb(215 215 215);
  border-radius: 50%;
}

.skeleton-circle-100 {
  width: 100%;
  background-color: rgb(215 215 215);
  border-radius: 2px;
}
.skeleton-circle-75 {
  width: 75%;
  background-color: rgb(215 215 215);
  border-radius: 2px;
}
.skeleton-circle-50 {
  width: 50%;
  background-color: rgb(215 215 215);
  border-radius: 2px;
}

.skeleton-card-img {
  background-color: rgb(215 215 215);
  height: 200px;
}

.p-10 {
  padding: 7px;
}
.p-6 {
  padding: 10px;
}
.p-15 {
  padding: 12px;
}
.skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );

  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
