.order-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cancel-button {
  padding: 0px 3px;
  outline: none;
  border: 2px solid grey;
  border-radius: 3px;
  background-color: white;
  color: gray;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
}
